server {
    listen                  8000;

    server_name             localhost;

    charset                 utf-8;

    client_max_body_size    8M;

    location / {
        proxy_pass          http://unix:/run/amantha.sock;
    }

    location /static/ {
        alias               /srv/amantha/.static/;
    }
}